@import '../../scss/variables';

section.homepage {
  display: block;
  padding: 0;
  background: $bluebg;
  li {
    list-style: none;
    font-weight: $font-normal;
    font-size: $text-sm;
    letter-spacing: 0.03em;
    border: 2.83333px solid $red;
    border-radius: 69.4167px;
    padding: 8px 43px;
    box-shadow: -1px -1px 10px $red;
    display: flex;
    align-items: center;
    color: $white;
    gap: 18px;
    width: fit-content;
    &>span {
      display: block;
      width: 7.4px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: $red;
    }
  }
  a {
    font-weight: $font-semibold;
    font-size: $text-xsm;
    text-transform: uppercase;
    color: $red;
    text-decoration: none;
    // box-shadow: -1px -1px 20px $red;
  }
  &>.networking {
    background: $bluebg;
    padding: 30px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .networking-img {
      flex-basis: 25%;
    }
    .networking-card {
      position: absolute;
      color: $white;
      left: 50%;
      translate: -50%;
      padding: 76px 80px;
      background: rgb(28, 28, 28, 0.4);
      border-radius: 42px;
      h4 {
        font-weight: $font-bold;
        font-size: $text-3xl;
      }
      p {
        font-weight: $font-normal;
        font-size: $text-md;
        line-height: 24px;
        margin-block: 45px 51px;
      }
      
    }
  }
  .arrowbox {
    padding: 44px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    &>div {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 27px;
        aspect-ratio: 1;
        background: $red;
        border-radius: 50%;
        display: block;
      }
      .arrow-left {
        translate: -15px;
      }
      .arrow-right {
        translate: 15px;
      }
    }
  }
  .ourclients {
    padding: 76px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    h2 {
      font-size: $text-6xl;
      font-weight: $font-bold;
    }
    &>div {
      margin-bottom: 72px;
      padding: 0 64px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      img {
        width: fit-content;
      }
    }
  }
  @media screen and (max-width: 980px) {
    &>.networking {
      padding: 12px 32px;
      .networking-img {
        display: none;
      }
      .networking-card {
        width: 100%;
        position: static;
        translate: 0%;
        padding: 56px 40px;
        border-radius: 32px;
      }
    }
    &>.ourclients {
      &>div {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  @media screen and (max-width: 768px) {
    &>.ourclients {
      &>div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &>div {
          flex-basis: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  @media screen and (max-width: 502px) {
    &>.ourclients {
      padding-inline: 2rem;
      li {
        padding: 4px 20px;
      }
      h2 {
        font-size: calc($text-3xl + $text-md);
        font-weight: $font-bold;
      }
      &>div {
        grid-template-columns: 1fr;
      }
    }
  }
}