@import '../../scss/variables';

section.homepage {
  display: block;
  padding: 0;
  background: $bluebg;
  h2 {
    font-size: $text-6xl;
    font-weight: $font-bold;
  }
  li {
    list-style: none;
    font-weight: $font-normal;
    font-size: $text-sm;
    letter-spacing: 0.03em;
    border: 2.83333px solid $red;
    border-radius: 69.4167px;
    padding: 8px 43px;
    box-shadow: -1px -1px 10px $red;
    display: flex;
    align-items: center;
    color: $white;
    gap: 18px;
    width: fit-content;
    &>span {
      display: block;
      width: 7.4px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: $red;
    }
  }
  a {
    font-weight: $font-semibold;
    font-size: $text-xsm;
    text-transform: uppercase;
    color: $red;
    text-decoration: none;
    // box-shadow: -1px -1px 20px $red;
  }
  &>.networking {
    background: $bluebg;
    padding: 30px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .networking-img {
      flex-basis: 25%;
    }
    .networking-card {
      position: absolute;
      color: $white;
      left: 50%;
      translate: -50%;
      padding: 76px 80px;
      background: rgb(28, 28, 28, 0.4);
      border-radius: 42px;
      h4 {
        font-weight: $font-bold;
        font-size: $text-3xl;
      }
      p {
        font-weight: $font-normal;
        font-size: $text-md;
        line-height: 24px;
        margin-block: 45px 51px;
      }
    }
  }
  .arrowbox {
    padding: 44px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    &>div {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 27px;
        aspect-ratio: 1;
        background: $red;
        border-radius: 50%;
        display: block;
      }
      .arrow-left {
        translate: -15px;
      }
      .arrow-right {
        translate: 15px;
      }
    }
  }
  .ourclients {
    padding: 76px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    &>div {
      margin-bottom: 72px;
      padding: 0 64px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      img {
        width: fit-content;
      }
    }
  }
  .sectionbox {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 112px;
    background-repeat: no-repeat;
    background-position: 52.5% 0;
    background-size: contain;
    &>.testimonials {
      background: rgba(26, 45, 71, 0.3);
      backdrop-filter: blur(20px);
      border-radius: 25px;
      padding: 28px 72px;
      color: $white;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin: 0;
        line-height: 92px;
        margin-top: 10px;
      }
      p {
        font-size: $text-xl;
        font-weight: $font-normal;
        line-height: 32px;
        max-width: 65ch;
        margin-bottom: 24px;
      }
      &>.testimonials-cardbox {
        overflow-x: hidden;
        width: 100%;
        &>div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          width: 100%;
          overflow-x: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          .testimonials-cardbox--card {
            background: $black;
            border-radius: 10px;
            padding: 20px 25px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 18px;
            text-align: left;
            .testimonials-cardbox--card-info {
              display: flex;
              justify-content: flex-start;
              gap: 10px;
              img {
                width: 30px;
                aspect-ratio: 1;
                border-radius: 50%;
              }
              span {
                font-weight: $font-bold;
                font-size: $text-lg;
                line-height: 23px;
                letter-spacing: -0.14px;
              }
            }
            p {
              font-weight: $font-normal;
              font-size: $text-md;
              line-height: 24px;
              letter-spacing: -0.14px;
              color: $gray2;
              // max-width: 20ch;
            }
          }
        }
      }
      &>.arrowbox {
        margin-block: 0px;
      }
      @media screen and (max-width: 980px) {
        padding: 32px 24px;
        h2 {
          font-size: calc($text-3xl + $text-md);
        }
        p {
          font-size: $text-sm;
          text-align: left;
        }
        &>.testimonials-cardbox {
          &>div {
            flex-wrap: wrap;
            &>.testimonials-cardbox--card {
              flex-grow: 1;
              width: 100%;
            }
          }
        }
        &>.arrowbox {
          display: none;
        }
      }
      @media screen and (max-width: 502px) {
        h2 {
          font-size: $text-xl;
          line-height: 64px;
        }
        p {
          font-size: $text-xsm;
          line-height: 24px;
        }
        &>.testimonials-cardbox {
          &>div {
            &>.testimonials-cardbox--card {
              p {
                font-size: $text-xs;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .sectionbox {
      background-size: cover;
    }
  }
  @media screen and (max-width: 980px) {
    &>.networking {
      padding: 12px 32px;
      .networking-img {
        display: none;
      }
      .networking-card {
        width: 100%;
        position: static;
        translate: 0%;
        padding: 56px 40px;
        border-radius: 32px;
      }
    }
    &>.ourclients {
      &>div {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  @media screen and (max-width: 768px) {
    &>.ourclients {
      &>div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &>div {
          flex-basis: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  @media screen and (max-width: 502px) {
    &>.ourclients {
      padding-inline: 2rem;
      li {
        padding: 4px 20px;
      }
      h2 {
        font-size: calc($text-3xl + $text-md);
        font-weight: $font-bold;
      }
      &>div {
        grid-template-columns: 1fr;
      }
    }
  }
}