//STYLE GUIDE


// color codes
$red: #E03F3F;;
$grey: #B6C4CA;
$white: #FFFFFF;
$gray2: #9BA2B2;
$grey3: #E3E7EE;
$greyfooter: #A0AABA;
$blue1: #011B40;
$blue2: #007AFC;
$blue3: #1A2D474D;
$bluebg: #021530;
$black: #22262E;

// font-size
$text-xxs: 10;
$text-xs: 11;
$text-xsm: 12;
$text-sm: 14.17;
$text-md: 15;
$text-lg: 16;
$text-xl: 20;
$text-2xl: 22;
$text-3xl: 29;
$text-6xl: 73;

// font weight
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
