//STYLE GUIDE


// color codes
$red: #E03F3F;;
$grey: #B6C4CA;
$white: #FFFFFF;
$gray2: #9BA2B2;
$grey3: #E3E7EE;
$greyfooter: #A0AABA;
$blue1: #011B40;
$blue2: #007AFC;
$blue3: #1A2D474D;
$bluebg: #021530;
$black: #22262E;

// font-size
$text-xxs: 10px;
$text-xs: 11px;
$text-xsm: 12px;
$text-sm: 14.17px;
$text-md: 15px;
$text-lg: 16px;
$text-xl: 20px;
$text-2xl: 22px;
$text-3xl: 29px;
$text-6xl: 73px;

// font weight
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
